main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex: 1;
}
body{
    display: flex;
    margin: 0;
    padding: 0;
}
.placeholder{
    border: solid 2px lightseagreen;
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}
.wideimage{
    border: solid 2px lightblue;
    width: 600px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
}
.column{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
    color: aliceblue;
    padding-right: 400px;
    padding-left: 400px;
}
.under_header{
    display: flex;
    height: 400px;
    gap: 2rem;
    background-color: #1f2937;
    padding-bottom: 25px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 400px;
    padding-left: 400px;
   
    }
.midcontent{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding-right: 400px;
    padding-left: 400px;
}
.pictures{
    display: flex;
    gap: 6rem;
}
.quote{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #e5e7eb;
    font-size: 24px;
    font-family: light italic, 'Times New Roman', Times, serif;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding-right: 400px;
    padding-left: 400px;
}
.overfooter{
    display: flex;
    height: 400px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    padding-right: 400px;
    padding-left: 400px;
}
.ad{
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 1000px;
    gap: 2rem;
    color: #e5e7eb;
    border-radius: 10px;
}
.footer{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white; 
    padding-right: 400px;
    padding-left: 400px;
    margin: 0;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: #e5e7eb;;
    font-size: 18px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.firsttile{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.secondtittle{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.top,
.bottom{
    background-color: #3882f6;
    height: 25px;
    width: 100px;
    color: #f9faf8;
    border-radius: 5px;
}
.bottom{
    border: solid 1px white;
}
.top{
    border: none;
}
/* NEED TO MAKE IT WORK PROPERLY ON SMALLER MEDIA, some stuff needs aligning
but its alrigth ill come to this later*/